@font-face {
    font-family: 'Tajawal';
    src: url('../fonts/Tajawal/Tajawal-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('../fonts/Tajawal/Tajawal-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    direction: rtl;
    text-align: right;
    font-family: 'Tajawal', Tahoma, Arial, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h3 {
    font-family: 'Tajawal', Tahoma, Arial, sans-serif !important;
    font-weight: 700;
}

.sidebar-brand-text {
    font-family: 'Tajawal', Tahoma, Arial, sans-serif !important;
    font-weight: 700;
}

.ml-auto,
.mx-auto {
    margin-left: unset !important;
    margin-right: auto !important;
}

.sidebar {
    padding: 0;
}

.sidebar .nav-item .nav-link {
    text-align: right;
    font-size: 24px;
}

.sidebar .nav-item .nav-link[data-toggle=collapse]::after {
    float: left;
    transform: rotate(180deg);
    font-size: 16px;
}

.dropdown-menu .dropdown-item {
    text-align: right;
}

.navbar-expand .navbar-nav .dropdown-menu {
    right: unset;
    left: 0 !important;
}

@media (max-width: 576px) {
    .topbar .dropdown .dropdown-menu {
        left: unset;
        right: 12px !important;
    }
}

.fl-flasher .fl-close {
    right: unset !important;
    left: .5rem !important;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem 0 !important;
}

.small {
    font-size: 14px !important;
}

.fl-flasher,
.fl-title,
.fl-message {
    font-family: 'Tajawal', Tahoma, Arial, sans-serif !important;
}
