@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

body {
    font-family: 'Poppins', sans-serif !important;
}

.fl-title,
.sidebar-brand-text {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700;
}

.sidebar-brand-text {
    font-size: 20px;
}

.fl-message {
    font-family: 'Poppins', sans-serif !important;
}

.bg-gradient-primary,
.dropdown-header {
    background: linear-gradient(45deg, #2c3e50, #34495e) !important;
}

.dropdown .dropdown-menu .dropdown-header,
.sidebar .sidebar-heading,
.text-uppercase {
    text-transform: none !important;
    font-size: .85rem;
}

.h3 {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700;
}

.collapse-item.active {
    color: #2c3e50 !important;
}

th,
td,
label,
input,
textarea {
    color: #2c3e50 !important;
}

.btn-primary,
.bg-primary {
    background-color: #34495e !important;
}

.btn-primary:hover,
.bg-primary:hover {
    background-color: #2c3e50 !important;
}

/* .actions div {
    margin: 0 1px;
} */

.page-item.active .page-link {
    background-color: #34495e !important;
    color: #fff !important;
}

.page-item .page-link {
    color: #34495e !important;
}

.text-primary {
    color: #34495e !important;
}

.border-left-primary {
    border-left: .25rem solid #34495e !important;
}
